.btn-popover {
	display: block;
	position: relative;
	width: 198px;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	padding: 0.375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	border: 1px solid #ced4da;
	color: #fff;
	background-color: #f05d5d;
  }

.popover {
	position: absolute;
	z-index: 999;
	width: 250px;
	text-align: left;
	border: 1px solid lightgray;
	border-radius: 5px;
}
.popover-title {
	margin: 0;
	padding: 5px 5px;
	background-color: #c2bdbd;
	border-bottom: 1px solid lightgray;
	color: black;
}

.popover-body {
	margin: 0;
	padding: 10px 5px;
	color: black
}